main {
    height: calc(100% - 56px)!important;
}

nav {
    background-color: aliceblue;
}

.logo {
    height: 100px;
    width: 100px;
    /*margin-left: 30%;*/
    background: url(../images/Icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top:-6%;
}

/*.txtPlus {
    font-weight:bold;
}*/